.idea
*.pth
*.mp4


*.pyc
*.log
/outputs/

__pycache__/
*.pth
*.train
exps/
build/
*.egg
*.egg-info
# Ignore specific contents under any debug directory
**/debug/**/*csv*/
**/debug/**/*map*/
**/debug/**/*.csv
**/debug/**/*.jpg
**/debug/**/*.jpeg
**/debug/**/*.png
**/debug/**/*.bmp
**/debug/**/*.gif
**/debug/**/*.webp
**/debug/**/*.tif
**/debug/**/*.tiff
**/debug/no_git